<h1>Paciente</h1>

<p>ID: <%= paciente.id %>
</p>
<p>Nombre: <%= paciente.nombre %>
</p>
<p>Cédula: <%= paciente.cedula %>
</p>
<p>Apellido: <%= paciente.apellido %>
</p>
<p>Edad: <%= paciente.edad %>
</p>
<p>Teléfono: <%= paciente.telefono %>
</p>

<a href="/pacientes">Volver</a>