<h1>Doctor</h1>

<p>ID: <%= doctor.id %>
</p>
<p>Nombre: <%= doctor.nombre %>
</p>
<p>Apellido: <%= doctor.apellido %>
</p>
<p>Especialidad: <%= doctor.especialidad %>
</p>
<p>Consultorio: <%= doctor.consultorio %>
</p>
<p>Correo: <%= doctor.correo %>
</p>

<a href="/doctores">Volver</a>