<h1>Citas</h1>

<a href="/citas/crear">Crear cita</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Número de Documento Paciente</th>
            <th>Especialidad</th>
            <th>ID Doctor</th>
            <th>ID Paciente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% citas.forEach((cita)=> { %>
            <tr>
                <td>
                    <%= cita.id %>
                </td>
                <td>
                    <%= cita.numeroDocumentoPaciente %>
                </td>
                <td>
                    <%= cita.especialidad %>
                </td>
                <td>
                    <%= cita.doctorId %>
                </td>
                <td>
                    <%= cita.pacienteId %>
                </td>
                <td>
                    <a href="/citas/<%= cita.id %>/mostrar">Mostrar</a>
                    <a href="/citas/<%= cita.id %>/editar">Editar</a>
                    <a href="/citas/<%= cita.id %>/eliminar">Eliminar</a>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>