<h1>Cita</h1>

<p>ID: <%= cita.id %>
</p>
<p>Número de Documento Paciente: <%= cita.numeroDocumentoPaciente %>
</p>
<p>Especialidad: <%= cita.especialidad %>
</p>
<p>ID Doctor: <%= cita.doctorId %>
</p>
<p>ID Paciente: <%= cita.pacienteId %>
</p>

<a href="/citas">Volver</a>